<img class="img-fluid" width="1200" height="1200" src="assets/img/Laboratorio.jpg" alt="Responsive image">
<hr>
 <div class="blog-page default-page clearfix">
     <div class="container-fluid">
         <div class="row">
             <div class="col-lg-9 col-md-8 col-sm-12 ">
                 <div class="blog-page-single clearfix">
                    <article id="post-260" class=" clearfix post-260 page type-page status-publish hentry">
                        <div class="page-contents">
                           <header class="entry-header">
                               <div class="entry-meta hidden">
                                 <h2 class="entry-title">Laboratorio Clínico</h2>
                               </div>
                           </header>
                           <div class="entry-content">
                              <p>El laboratorio clínico de IPS Universitaria Adventista está a la vanguardia en tecnología, todos nuestros procesos están apoyados en equipos automatizados que se encuentran en red a nivel nacional, desde el ingreso del usuario hasta la generación del resultado se realiza de manera sistematizada, garantizando un servicio seguro y confiable, respaldado por los más altos estándares de calidad.</p>
                              <p>Tenemos a disposición del público el procesamiento de pruebas:</p>
                             <ul>
                               <li>Laboratorio general.</li>
                               <li>Laboratorio especializado.</li>
                               <li>Laboratorio de alta especialidad.</li>
                               <li>Laboratorios externos que por su nivel de complejidad lo requieran.</li>
                             </ul>
                            </div>
                        </div>
                    </article>
                </div>
              </div>
          </div>
    </div>
 </div>
