<h1>Inmunologias</h1>
<hr>
<div class="row">
  <div class="col-md-12 text-right">
      <button   [routerLink]="['/inmunologia','nuevo']"
                class="btn btn-outline-primary"
                type="button" name="button">
          Nuevo informe
      </button>
  </div>
</div>
<br>

<div class="row animated fadeIn fast">
    <div class="col-md-12">
      <div class="table-responsive">
          <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th>#</th>
                <th>Codigo</th>
                <th>Fecha de atencion</th>
                <th>fecha de entrega</th>
                <th>Paciente</th>
                <th>Documento</th>
                <th class="text-center">Opciones</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let key of inmunologias | keys; let i = index">
                  <th>{{ i + 1 }}</th>
                  <td>{{ inmunologias[key].codigo }}</td>
                  <td>{{ inmunologias[key].atencion }}</td>
                  <td>{{ inmunologias[key].entrega }}</td>
                  <td>{{ inmunologias[key].nombre }}</td>
                  <td>{{ inmunologias[key].documento }}</td>
                  <td class="text-right w230">
                      <button [routerLink]="['/inmunologia', key]"
                              type="button" class="btn btn-outline-success">
                          Editar
                      </button>
                      <button (click) = "borrarInmunologia(key)"
                              [routerLink]="['/inmunologias','informes']"
                              type="button" class="btn btn-outline-danger">
                          Eliminar
                      </button>
                  </td>
                </tr>
            </tbody>
          </table>

          <div  *ngIf="(inmunologias | keys).length === 0 && !loading"
                class="alert alert-info" role="alert">
              <strong>No hay</strong> informes para mostrar
          </div>

          <div *ngIf="loading"
                class="alert alert-warning" role="alert">
            <strong>Cargando...</strong> por favor espere
          </div>

      </div>
    </div>
</div>
