<h1>Hematologias</h1>
<hr>
<div class="row">
  <div class="col-md-12 text-right">
      <button   [routerLink]="['/hematologia','nuevo']"
                class="btn btn-outline-primary"
                type="button" name="button">
          Nuevo informe
      </button>
  </div>
</div>
<br>

<div class="row animated fadeIn fast">
    <div class="col-md-12">
      <div class="table-responsive">
          <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th>#</th>
                <th>Codigo</th>
                <th>Fecha de atencion</th>
                <th>fecha de entrega</th>
                <th>Paciente</th>
                <th>Documento</th>
                <th class="text-center">Opciones</th>
              </tr>
            </thead>
            <tbody>
                <tr *ngFor="let key of hematologias | keys; let i = index">
                  <th>{{ i + 1 }}</th>
                  <td>{{ hematologias[key].codigo }}</td>
                  <td>{{ hematologias[key].atencion }}</td>
                  <td>{{ hematologias[key].entrega }}</td>
                  <td>{{ hematologias[key].nombre }}</td>
                  <td>{{ hematologias[key].documento }}</td>
                  <td class="text-right w230">
                      <button [routerLink]="['/hematologia', key]"
                              type="button" class="btn btn-outline-success">
                          Editar
                      </button>
                      <button (click) = "borrarPaciente(key)"
                              [routerLink]="['/hematologias','informes']"
                              type="button" class="btn btn-outline-danger">
                          Eliminar
                      </button>
                  </td>
                </tr>
            </tbody>
          </table>

          <div  *ngIf="(hematologias | keys).length === 0 && !loading"
                class="alert alert-info" role="alert">
              <strong>No hay</strong> registros que mostrar
          </div>

          <div *ngIf="loading"
                class="alert alert-warning" role="alert">
            <strong>Cargando...</strong> por favor espere
          </div>

      </div>
    </div>
</div>
