<h1>Examenes</h1>
<hr>
<div class="row animated fadeIn fast">
    <div class="col-md-12">
      <div class="table-responsive">
          <table class="table">
            <thead class="thead-inverse">
              <tr>
                <th>#</th>
                <th>Nombre</th>
                <th class="text-center">Opciones</th>
              </tr>
            </thead>
            <tbody>
                  <th>1</th>
                  <td>Hematologias</td>
                  <td class="text-right w230">
                      <button   [routerLink]="['/hematologias','informes']"
                                class="btn btn-outline-primary"
                                type="button" name="button">
                          Informes
                      </button>
                  </td>
                  <tr>
                    <th>2</th>
                    <td>Inmunologias</td>
                    <td class="text-right w230">
                        <button   [routerLink]="['/inmunologias','informes']"
                                  class="btn btn-outline-primary"
                                  type="button" name="button">
                            Informes
                        </button>
                    </td>
                  </tr>
            </tbody>
          </table>
      </div>
    </div>
</div>
